<div class="col-md-6">
    <div class="section-title">
        <h2 class="font_H2">A volonté pour 19,95€</h2>
    </div>
</div>
<div class="col-md-6">
    <p class="pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="{{'/reserver'}}" class="button btn1 ">Réserver une table</a>
</div>