<div class="row mb-3 p-0">
    <div class="row">
        <div class="col-md-10">
            <h6 class="hCarte mb-2">{{query.nom| raw}}</h6>
            <div class="pCarte">
                {{query.description| raw}}
            </div>
        </div>
        <div class="col-md-2 prix">
            {{query.prix| raw}} €
        </div>
    </div>
</div>