{% extends 'base.html.twig' %}

{% block csrf_token_widget %}
    <div class="container text-center mt-5 containerHeight">
        <h2 class="color">Carte</h2>
        <div class="row">            
            <ul class="nav justify-content-center mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link categorie" href="{{path('app_carte')}}">Tous</a>
                </li>
                {% for categorie in categories %}                   
                    <li class="nav-item ">
                        <a class="nav-link categorie" href="{{'/carte/categorie/'}}{{categorie.nom}}">{{categorie.nom}}</a>
                    </li>                  
                {% endfor %}
            </ul>   
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for categorie in categories %}
                    {% include "partials/carte/_tousCategories.html.twig" %}     
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}
